option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/v1/health
    HealthyThreshold: 3
    UnhealthyThreshold: 5
    HealthCheckInterval: 30
    Timeout: 5
    Port: 80
    Protocol: HTTP
    DeregistrationDelay: 20
    MatcherHTTPCode: "200"

  aws:autoscaling:asg:
    HealthCheckType: ELB
    HealthCheckGracePeriod: 300
