files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/callback-server.conf":
    content: |
      /var/log/s3p-callback-server/application.log

commands:
  01_create_log_dir:
    command: mkdir -p /var/log/s3p-callback-server
    ignoreErrors: true

container_commands:
  01_set_log_permissions:
    command: |
      chown -R webapp:webapp /var/log/s3p-callback-server
      chmod 755 /var/log/s3p-callback-server
